#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #00E2FA 0%, #45A8FB 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 120rem) {
  /* For mobile phones: */
  [id*="page-landing"] {
    padding: 2rem;
  }
}

#page-landing .content-wrapper {
  position: relative;
  width: min(100%, 120rem);
  height: min(100%, 68rem);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../assets/landing-page.svg') no-repeat 80% center;
}

#page-landing .content-wrapper main {
  max-width: 35rem;
}

#page-landing .content-wrapper img {
  margin-bottom: -15rem;
}

#page-landing .content-wrapper main h1 {
  font-size: 7.6rem;
  font-weight: 900;
  line-height: 7rem;
}

#page-landing .content-wrapper main p {
  margin-top: 8rem;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

.content-wrapper .location {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 2.4rem;
  line-height: 3.4rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.content-wrapper .location strong {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 7.2rem;
  height: 7.2rem;
  background-color: #ffd666;
  border-radius: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background .3s;
}

.content-wrapper .enter-app:hover {
  background-color: #3ef2f5; 
}